# dépendances
/node_modules
/.pnp
.pnp.*

# build Next.js
/.next/
/out/
/build
*.tsbuildinfo
next-env.d.ts

# environnement
.env*
!.env.example

# tests / couverture
/coverage

# déploiement
.vercel

# système
.DS_Store
*.pem

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
